<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>970796290261-n44i5cpubrfm40lq4523i4nj7vldafgr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.970796290261-n44i5cpubrfm40lq4523i4nj7vldafgr</string>
	<key>API_KEY</key>
	<string>AIzaSyC13haClly-WSdYkD1UB4RFJ3GiH0-WgqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>970796290261</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lovdem.app</string>
	<key>PROJECT_ID</key>
	<string>lovdem-d885a</string>
	<key>STORAGE_BUCKET</key>
	<string>lovdem-d885a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:970796290261:ios:ee8924dd7b08135a0d525c</string>
</dict>
</plist>